<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
</head>
<body>
    <h1>Carrinho</h1>
    {% if mensagem %}
        <p>{{ mensagem }}</p>
    {% endif %}
    
    <ul>
        {% for produto in produtos %}
            <li>
                {{ produto.nome }} - R$ {{ produto.preco }} - Quantidade: 1  
                <a href="{% url 'remover_carrinho' produto.id %}">Remover</a>
            </li>
        {% empty %}
            <li>Seu carrinho está vazio.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}"><button>Home</button></a> 
    <a href="{% url 'produtos' %}"><button>Adicionar Mais Itens</button></a> 

    <form method="post" action="{% url 'limpar_carrinho' %}">
        {% csrf_token %}
        <button type="submit">Limpar Carrinho</button>
    </form>
    <a href="{% url 'checkout' %}"><button>Finalizar Compra</button></a>
</body>
</html>

